.itemList {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  widows: 100%;
  float: left;
}
.material-icons {
  font-size: 2.4em;
  cursor: pointer;
}
.card {
  width: 300px;
}
.card .card-image .card-title {
  color: black;
  font-weight: 400;
  padding-top: 0px; /*!*/
  padding-bottom: 0px; /*!*/
}
.cart {
  margin-top: 40px;
}
.collection .collection-item {
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
}
.collection .collection-item img {
  width: 150px;
  margin-right: 25px;
}
.item-desc {
  align-self: center;
}

.item-container {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.item-container .card {
  margin: 0.5rem;
}

/**/
body {
  background-color: #eeeeee !important;
}

.cartList .card {
  width: 100%;
  font-size: 1em;
}

.cartList .total span {
  float: right;
}

.row .col .cartList .card .white-text {
  padding: 15px 15px 15px 15px;
  margin: 0px;
}

.cartList .quantity {
  font-size: 1.5rem;
  padding: 0px 10px 0px 10px;
}

.remove {
  float: right;
}

.cartList .subTotal {
  margin-top: 10px;
}
/* .btn-action {
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
} */

.cartList {
  user-select: none;
  display: flex;
  flex-direction: column;
}

.inventory-item {
  margin-bottom: 2em;
  padding: 2em !important;
  border: 2px solid #cfcfcf;
}

.add-button {
  float: right;
}
